	body {
		 font-size: 200%;
 	}
 	
 	.footer{
 	
		 font-size: 50%; 	
 	}

div#photo{
  margin:20px;
}

	input[type=text] {
	  height: 50px;
	  font-size: 150%;
	}
	

	input[type=submit] {
	  margin:20px 0px;
	  height:50px;
	  width:100px;
	}
